// src/css/quasar.variables.scss

$primary: #d18d17;
$secondary: #2c4240;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
